{% extends "form_div_layout.html.twig" %}

{# Rows #}
{% block filter_field_row %}
    {{ block('field_row') }}
{% endblock filter_field_row %}

{% block filter_text_row %}
    {% if form.offsetExists('condition_pattern') %}
        <div>
            {{ form_label(form) }}
            {{ form_widget(form.condition_pattern) }}
            {{ form_widget(form.text) }}
        </div>
    {% else %}
        {{ block('filter_field_row') }}
    {% endif %}
{% endblock filter_text_row %}

{# Widgets #}
{% block filter_field_widget %}
    {{ block('field_widget') }}
{% endblock filter_field_widget %}

{% block filter_choice_widget %}
    {{ block('choice_widget') }}
{% endblock filter_choice_widget %}

{% block filter_checkbox_widget %}
    {{ block('checkbox_widget') }}
{% endblock filter_checkbox_widget %}

{% block filter_date_widget %}
    {{ block('date_widget') }}
{% endblock filter_date_widget %}

{% block filter_number_widget %}
    {% if form.offsetExists('condition_operator') %}
        <div>
            {{ form_label(form) }}
            {{ form_widget(form.condition_operator) }}
            {{ form_widget(form.text) }}
        </div>
    {% else %}
        {{ block('filter_field_widget') }}
    {% endif %}
{% endblock filter_number_widget %}

{% block filter_number_range_widget %}
    <div>
        {{ form_widget(form.left_number) }}
        {{ form_widget(form.right_number) }}
    </div>
{% endblock filter_number_range_widget %}

{% block filter_date_range_widget %}
    <div>
        {{ form_widget(form.left_date) }}
        {{ form_widget(form.right_date) }}
    </div>
{% endblock filter_date_range_widget %}

{# Labels #}
{% block filter_field_label %}
    {{ block('field_label') }}
{% endblock filter_field_label %}

{# Errors #}
{% block filter_field_errors %}
    {{ block('field_errors') }}
{% endblock filter_field_errors %}
